 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0 -39px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 141px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 320px;
  padding: 10px 16px 10px 15px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0;
  padding: 10px 23px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 680px;
  padding: 10px 38px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 860px;
  padding: 10px 24px 10px 23px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 1040px;
  padding: 10px 34px 10px 33px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0 105px;
}

.u-section-1 .u-group-1 {
  width: 268px;
  min-height: 400px;
  height: auto;
  margin: 29px auto 0 251px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: -387px auto 0 743px;
}

.u-section-1 .u-group-2 {
  width: 15px;
  min-height: 43px;
  height: auto;
  margin: 28px 356px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 548px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 55px auto 0 548px;
  padding: 10px 49px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 57px auto 0 548px;
  padding: 10px 45px;
}

.u-section-1 .u-group-3 {
  width: 15px;
  min-height: 43px;
  height: auto;
  margin: -145px 358px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-4 {
  width: 15px;
  min-height: 43px;
  height: auto;
  margin: 59px 360px 60px auto;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 120px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 480px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 660px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 840px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 164px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 525px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 683px;
    height: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 261px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 261px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 261px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 683px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-left: 683px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 260px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 440px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 187px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 405px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 563px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 64px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 64px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 64px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 563px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-5 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 260px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 440px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 352px;
  }

  .u-section-1 .u-group-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 408px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -89px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -37px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -71px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 68px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 143px;
    margin-left: 240px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -514px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 37px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 222px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 51px;
    margin-right: 325px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 51px;
    margin-right: 325px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 51px;
    margin-right: 325px;
    margin-bottom: 38px;
  }
}