 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-line-1 {
  left: 199px;
  top: 0;
  position: absolute;
  height: 620px;
  transform-origin: center top 0px;
}

.u-section-1 .u-table-1 {
  width: 1019px;
  margin: 16px -101px 0 auto;
}

.u-block-1e50-17 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
  border-style: double;
}

.u-block-1e50-30 {
  height: 46px;
}

.u-section-1 .u-image-1 {
  width: 269px;
  height: 269px;
  margin: -216px auto 0 -98px;
}

.u-section-1 .u-table-2 {
  width: 487px;
  margin: -25px auto 0 230px;
}

.u-block-1e50-45 {
  height: 46px;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
  border-style: double;
}

.u-block-1e50-50 {
  height: 46px;
}

.u-section-1 .u-table-3 {
  width: 495px;
  margin: -341px -88px 0 auto;
}

.u-block-1e50-59 {
  height: 46px;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  border-style: double;
}

.u-block-1e50-64 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -268px auto 0 -19px;
  padding: 10px 28px 10px 26px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 49px auto 0 -19px;
  padding: 10px 32px 10px 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 49px auto 0 -19px;
  padding: 10px 6px 10px 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-cell-4 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-5 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-6 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-7 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-11 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-12 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-13 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-table-cell-14 {
    width: 341px;
    margin: 167px 351px 60px auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-11 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-12 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-13 {
    margin-right: 199px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-right: 199px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -66px;
  }

  .u-section-1 .u-table-2 {
    margin-top: -25px;
    margin-left: 53px;
  }

  .u-section-1 .u-table-3 {
    margin-top: -266px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-7 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-11 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-12 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-13 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-14 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -391px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
    margin-top: -166px;
    margin-right: 0;
  }
}